
<form [formGroup]="form">
        <label for="oldPassword">Old Password</label> <br>
        <input 
            formControlName="oldPassword"
            name="oldPassword" 
            class="form-control" 
            type="password"/> <br>
            <div *ngIf="oldPassword.pending">Checking password...</div>
            <div 
                *ngIf="oldPassword.invalid && oldPassword.touched"
                class="alert alert-danger">
                <div *ngIf="oldPassword.errors.required">
                    Old Password is required
                </div>
                <div *ngIf="!oldPassword.errors.IsValidOldPassword">
                    Password does not match
                </div>
            </div>
        
        
        <label for="newPassword">New Password</label> <br>
        <input
            formControlName="newPassword"
            name="newPassword" 
            class="form-control" 
            type="password"/> <br>
            <div 
                *ngIf="newPassword.invalid && newPassword.touched"
                class="alert alert-danger">
                    New Password is required
            </div>
        
        <label for="confirmPassword">Confirm Password</label> <br>
        <input
            formControlName="confirmPassword"
            name="confirmPassword" 
            class="form-control" 
            type="password"/> <br>
            <div 
                *ngIf="confirmPassword.invalid && confirmPassword.touched"
                class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="confirmPassword.validator.passwordsShouldMatch">Passwords do not match</div>
            </div>
</form>